.color1{ color: #E6E2AF; }
.color2{ color: #A7A37E; }
.color3{ color: #EFECCA; }
.color4{ color: #046380; }
.color5{ color: #002F2F; }
body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color:#E6E2AF;
}
article {
    padding: 0 5%;
}
h1 {
    border-bottom: 1px solid #A7A37E;
    color: #002F2F;
    text-align: center;
    font-size: 3rem;
}
blockquote {
    background-color: #EFECCA;
    padding: 0.1rem 1rem;
    border-left: 3px solid #046380;
}
#mySidenav a {
    position: absolute; /* Position them relative to the browser window */
    left: -100px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; 
    width: 100px; 
    text-decoration: none; 
    font-size: 20px; 
    font-weight: bold;
    color: rgb(199, 199, 199); 
    border-radius: 0 5px 5px 0; 
}
#mySidenav a:hover {
    left: 0; /* On mouse-over, make the elements appear as they should */
}
#about {
    top: 20px;
    background-color: #EFECCA;
}
#blog {
    top: 80px;
    background-color: #A7A37E; /* Blue */
}
#projects {
    top: 140px;
    background-color: #046380; /* Red */
}
#calculator {
    top: 200px;
    background-color: #002F2F;
}
#contact {
    top: 260px;
    background-color: #EFECCA;
}
footer {
    border-top: 3px solid #A7A37E;
    text-align: center;
    margin: 0 5%;
}



